---
import Layout from "../../layouts/Layout.astro";
import Exercise from "../../components/Exercise.svelte";
export const prerender = false;

const { id } = Astro.params;
---

<Layout title="Items">
  <p>Exercise {id}</p>
  <Exercise client:idle/>
</Layout>