---
import Layout from '../../layouts/Layout.astro';
import Exercises from '../../components/Exercises.svelte';
export const prerender = false;

const { id } = Astro.params;
---

<Layout>
  <h1>Available exercises</h1>
  <Exercises client:idle languageId={id} />
</Layout>
